# Auto detect text files and perform LF normalization
* text=auto

# Files
*.php     text eol=lf diff=php
*.phpt    text eol=lf diff=php
*.phtml   text eol=lf diff=html
*.twig    text eol=lf
*.phar    binary
*.json    text eol=lf diff=json
*.md      text eol=lf diff=md

# Configuration
phpcs.xml    text eol=lf
phpunit.xml  text eol=lf
phpstan.neon text eol=lf
psalm.xml    text eol=lf
phplint.yml  text eol=lf
